/* Basic editor styles */
.tiptap p.is-editor-empty:first-child::before {
  color: #8a8a8a99;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  
    code {
      background-color: #3b3b3b;
      color: #FFF;
      padding: 12px;
      border-radius: 8px;
      display: block;
    }

    mark {
      background-color: rgb(79 70 229);
      color: white;
    }
  
    pre {
      background: #FFF;
      color: #000;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0D0D0D, 0.1);
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }
  }
  
  button {
    &.is-active {
      background-color:#FFF;
    }
  }